<div class="homepage">
  <div class="left-content">     
    <nav class="menu">
      <ul #menuList id="menuList">
        <li><a href="#" data-content="jeu">Home </a></li>
        <li><a href="#" data-content="personnages">Game</a></li>
        <li><a href="#" data-content="kamadan">Kamadan</a></li>
        <li><a href="#" data-content="SH">Skills Hunter</a></li>
        <li><a href="#" data-content="deconnexion">Déconnexion</a></li>
      </ul>
    </nav>
  </div>
  <div class="right-content">
    <div id="content">
      <ng-container *ngIf="getSelectedComponent() as selectedComponent">
        <ng-container *ngComponentOutlet="selectedComponent"></ng-container>
      </ng-container>
    </div>
  </div>

  <router-outlet name="modal"></router-outlet>
</div>
