<div class="game_component">


    <div class="section">
            <app-coop />
    <div class="section">

        <div class="title">
            <h4>End-game</h4>
        </div>
        <div class="content">        
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Speed Clear</a>
            </app-boutons>
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Elite Zone</a>
            </app-boutons>
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Farms</a>
            </app-boutons>       
        </div>
    </div>
    
    <div class="section">
        <div class="title">
            <h4>More</h4>
        </div>
        <div class="content">        
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">PreSearing</a>
            </app-boutons>
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Professions</a>
            </app-boutons>
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Quests</a>
            </app-boutons>
                    <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Dungeons</a>
            </app-boutons>
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Titles</a>
            </app-boutons>
                        <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Chest Run</a>
            </app-boutons>
            <app-boutons>
            <a href="https://wiki.guildwars.com/wiki/List_of_cooperative_missions" target="_blank" rel="noopener noreferrer">Pro and useless tips</a>
            </app-boutons>          
        </div>
    </div>

      <div class="dynamic-content">
    <ng-container *ngIf="selectedVue() as vue">
      <ng-container *ngComponentOutlet="vue"></ng-container>
    </ng-container>
  </div>
</div>
