
<div class="section">
    <div class="title">
        <h4>Quick links</h4>
    </div>
    <div class="content">        
        <app-boutons>
        <a href="https://wiki.guildwars.com/wiki/Daily_activities" target="_blank" rel="noopener noreferrer">Daily</a>
        </app-boutons>
        <app-boutons>
        <a href="https://wiki.guildwars.com/wiki/Weekly_activities" target="_blank" rel="noopener noreferrer">Weekly</a>
        </app-boutons>
        <app-boutons>
        <a href="https://wiki.guildwars.com/wiki/Nicholas_the_Traveler/Cycle" target="_blank" rel="noopener noreferrer">Nick Sets</a>
        </app-boutons>
    </div>
</div>

<div class="section">
    <div class="title">
        <h4>Community</h4>
    </div>
    <div class="content">        
        <app-boutons>
        <a href="https://guildwarslegacy.com/forum/" target="_blank" rel="noopener noreferrer">GW Legacy</a>
        </app-boutons>
        <app-boutons>
        <a href="https://www.gw-eden.fr/" target="_blank" rel="noopener noreferrer">GW Eden FR</a>
        </app-boutons>
        <app-boutons>
        <a href="https://www.presearing.com/" target="_blank" rel="noopener noreferrer">Presearing Community</a>
        </app-boutons>


       

    </div>
</div>

