        <div class="title">
            <h4>Coops</h4>
        </div>
        <div class="content">        
<app-boutons>
  <a href="#" (click)="openVue('prophecie'); $event.preventDefault()">Prophecie</a>
</app-boutons>
<app-boutons>
  <a href="#" (click)="openVue('faction'); $event.preventDefault()">Faction</a>
</app-boutons>

<app-boutons>
  <a href="#" (click)="openVue('nightfall'); $event.preventDefault()">Nightfall</a>
</app-boutons>

<app-boutons>
  <a href="#" (click)="openVue('eotn'); $event.preventDefault()">Eotn</a>
</app-boutons>



  </div>
